<?xml version="1.0" encoding="utf-8"?>
<!-- This file is protected under the KILLGPL. -->
<!-- For more information, visit http://www.lukeleber.github.io/KILLGPL.html -->
<!-- -->
<!-- Copyright (c) Luke Leber <LukeLeber@gmail.com> -->
<!-- -->
<!-- "This software is provided freely under a single condition.  You can't force anyone -->
<!-- that uses this software to release any source code.  It is their decision alone.  -->
<!-- Other than that, anything goes. -->
<!-- -->
<!-- PS. If you like this work, please hire me!  I'm uneducated (no CS degree) -->
<!-- and as such it's borderline impossible to get into the industry.  My current -->
<!-- career is absolute hell and I am trapped in it.  I leave this message here -->
<!-- in the vain hope that someone, somewhere might read this and give me the -->
<!-- opportunity to join their association as a programmer." -->
<!-- -->
<!-- Cheers, -->
<!-- Luke -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukeleber.scandroid" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.Scandroid"
            android:label="@string/title_activity_scandroid" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".database.DTCDatabaseUpdater"
            android:label="Download DTC DB" />
        <activity
            android:name=".gui.SelectInterface"
            android:label="@string/title_activity_select_interface" >
        </activity>
        <activity
            android:name=".gui.bluetooth.BluetoothConfiguration"
            android:label="@string/title_activity_bluetooth_configuration" >
        </activity>
        <activity android:name="com.lukeleber.bluetooth.BluetoothEnabler$Wrapper" />
        <activity
            android:name=".gui.GenericScanner"
            android:label="@string/title_activity_generic_scanner" >
        </activity>
        <activity
            android:name=".gui.ProtocolSearch"
            android:label="@string/title_activity_protocol_search" >
        </activity>
    </application>

</manifest>
